.container {
    padding-top: 25px;
    padding-bottom: 45px;
}

.container h1 {
    font-size: 2rem;
    margin: 20px 0 10px;
}

.container h3 {
    font-size: 1.5rem;
}

.container p {
    word-wrap: break-word;
    margin-bottom: 10px;
}

.partner {
    padding: 30px 0;
    margin: 30px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.upcomingEvents {
    max-height: 540px;
    overflow: auto;
    border: 1px #ccc solid;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.upcomingEvents h5 {
    color: #cc4141;
    font-size: 15px;
    line-height: normal;
    padding: 0 0 3px;
    margin: 0;
}

.upcomingEvents figure {
    margin-bottom: 0;
}

.upcomingEvents figure a {
    border-bottom: none;
}

.upcomingEvents::-webkit-scrollbar {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.25);
    width: 10px;
}

.upcomingEvents::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
}

.eventDetails {
    margin-left: 30px;
}

.moreEvents {
    width: 92px;
    margin-top: 5px;
    font-size: 12px;
    border-color: #ccc;
}

.moreEvents a {
    color: #333;
    border-bottom: none;
}

.moreEvents:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
