.navtitle {
    font-weight: 300;
    font-size: .75rem;
    color: #fff;
    background: #414141;
    text-transform: uppercase;
    font-family: Arial,Helvetica,sans-serif;
    padding: 1px 6px;
    margin: 10px 0 5px;
    clear: both;
    line-height: 17px;
    display: inline-block;
}
.section {
    padding: 18px 14px;
    background: #f5f5f5;
    border: 1px solid #ccc;
}
.phone {
    background-color: #cc4141;
    margin: 2px 10px 0 0;
    padding: 8px;
    float: left;
}