header{
    margin-top: 60px;
    
}

main{
    width: 100%;
    overflow: hidden;
}


header > div > div {
    border-top: 4px solid #cc4141;
    border-bottom: 0px none;
    max-width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

header > div > div > div{
    align-items: center;
    padding: 20px 0px;
}



.logoAndName {
    display: flex;
    align-items: center;
    padding: 15px 0px;
}

.iconContainer {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    display: none;
    justify-content: center;
    align-items: center;
}

.contacts {
    display: block;
    justify-content: center;
}



@media (min-width: 768px) {
    
    header{
      margin-top: 60px;
    }

    .contacts {
        display: block;
    }

    .iconContainer{
        display: none;
    }

  }

@media (min-width: 992px) {
    
    header{
        margin-top: 0px;
      }


    .contacts {
        display: flex;
        justify-content: flex-end;
    }

    .iconContainer{
        display:flex;
    }

}

@media (min-width: 1200px) {
    
    header{
        margin-top: 0px;
      }
    
    .contacts {
        display: flex;
        justify-content: flex-end;
    }

    .iconContainer{
        display:flex;
    }



  }
  
  @media (min-width: 1400px) {

    header{
        margin-top: 0px;
      }
    

    .contacts {
        display: flex;
        justify-content: flex-end;
    }

    .iconContainer{

    }




  }






a{
    border-bottom: 0px !important;
    text-decoration: none !important;
}



@media screen and (max-width: 992px) {

    .logoAndName {
        justify-content: center;
    }
    .phoneNumber {
        margin-left: 0px;
        margin-top: 0px ;
    }
    .container {
        display: block;
    }
    .name {
        font-size: 1em;
    }
    .logo {
        height: 120px;
        width: auto;
    }
}

.logo {
    height: 100px;
}

@media screen and (max-width: 900px) {

    .logoAndName {
        margin-top: 40px;
    }

}



a{
    border-bottom: 0px !important;
    text-decoration: none !important;
}


@media screen and (max-width: 900px) {

    .youtube,.linkedin, .facebook, .instagram, .twitter,  .tiktok {
        display: none !important;
    }
    
    .phoneNumber {
        margin-top: 35px;
    }
}

@media screen and (max-width: 800px) {
    .contacts {
        display: block !important;
    }
    .logoAndName {
        justify-content: center;
    }
    .phoneNumber {
        margin-left: 0px !important;
        margin-top: 0px !important;
    }
    .container {
        display: block;
    }
    .name {
        font-size: 1em !important;
    }
    .logo {
        height: 120px !important;
        width: auto;
    }
}

.logo {
    height: 100px;
}

.name {
    width: 100px;
    margin-left: 16px;
    text-transform: uppercase;
    font-size: 1.0em;
    line-height: 1.0em;
    color: #666;
}

.phoneIcon {
    margin-right: 0.75rem;
    font-size: 1.2rem !important;
}

.phoneNumber {
    font-size: 1.12rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
    border-bottom: none;
    background-color: #b31217;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.phoneNumber:hover {
    color: white;
    border-bottom: none;
    background-color: #333333;
}



.youtube {
    composes: iconContainer;
    background-color: #b31217;
}

.youtube:hover{
    background-color: #333333;
}

.linkedin {
    composes: iconContainer;
    background-color: #0077b5;
}
.linkedin:hover{
    background-color: #333333;
}

.twitter {
    composes: iconContainer;
    background-color: #55acee;
}
.twitter:hover{
    background-color: #333333;
}

.instagram {
    composes: iconContainer;
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    background-color: #bc1888;
}
.instagram:hover{
    background: #333333;
    background-color:#333333;
}

.facebook {
    composes: iconContainer;
    background-color: #3b5998;
}
.facebook:hover{
    background-color: #333333;
}

.tiktok {
    composes: iconContainer;
    position: relative;
    background-color: #000;
}
.tiktok:hover{
    background-color: #333333;
}

/* .wechat:hover .qrCode {
    display: inline-block;
}

.qrCode {
    display: none;
    padding: 4px;
    position: absolute;
    top: 32px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.65);
}

.qrCode::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 50px;
    border: 5px solid transparent;
    border-bottom: 5px solid rgba(0, 0, 0, 0.65);
} */


