.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoAndName {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .logoAndName {
        margin-top: 35px;
    }
    .youtube,.linkedin, .facebook, .instagram, .twitter,  .tiktok {
        display: none !important;
    }
    
    .phoneNumber {
        margin-top: 35px;
    }
}

@media screen and (max-width: 800px) {
    .contacts {
        display: block !important;
        margin-bottom: 10px;
    }
    .logoAndName {
        justify-content: center;
    }
    .phoneNumber {
        margin-left: 0px !important;
        margin-top: 0px !important;
    }
    .container {
        display: block;
    }
    .name {
        font-size: 1em !important;
    }
    .logo {
        height: 120px !important;
        width: auto;
    }
}

.logo {
    height: 150px;
}

.name {
    width: 100px;
    margin-left: 16px;
    text-transform: uppercase;
    font-size: 1.3em;
    line-height: 1.3em;
    color: #666;
}

.contacts {
    display: flex;
    align-items: flex-end;
}

.phoneIcon {
    margin-right: 0.75rem;
    font-size: 1.2rem !important;
}

.phoneNumber {
    margin-left: 4px;
    font-size: 1.12rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
    border-bottom: none;
    background-color: #b31217;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.phoneNumber:hover {
    color: white;
    border-bottom: none;
    background-color: #b31217;
}

.iconContainer {
    width: 50px;
    height: 40px;
    margin-left: 8px;
}

.youtube {
    composes: iconContainer;
    background-color: #b31217;
}

.linkedin {
    composes: iconContainer;
    background-color: #0077b5;
}

.twitter {
    composes: iconContainer;
    background-color: #55acee;
}

.instagram {
    composes: iconContainer;
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
}

.facebook {
    composes: iconContainer;
    background-color: #3b5998;
}

.tiktok {
    composes: iconContainer;
    position: relative;
    background-color: #000;
}

/* .wechat:hover .qrCode {
    display: inline-block;
}

.qrCode {
    display: none;
    padding: 4px;
    position: absolute;
    top: 32px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.65);
}

.qrCode::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 50px;
    border: 5px solid transparent;
    border-bottom: 5px solid rgba(0, 0, 0, 0.65);
} */
