.main-container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.flex {
    display: flex;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.horizon-center {
    display: flex;
    justify-content: center;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.whole-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fl {
    float: left;
}

.red {
    color: #cc4141;
}
