.main-container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-full {
    flex: 1;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizon-center {
    display: flex;
    justify-content: center;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.full {
    width: 100%;
    height: 100%;
}

.fl {
    float: left;
}

.red {
    color: #cc4141;
}
