.main-container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.fl {
    float: left;
}

.red {
    color: #cc4141;
}

.carousel-indicators [data-bs-target]{
    width: 25px;
    height: 25px;
    background-color: #9e9e9e;
    opacity: 1;
}

.carousel-indicators .active{
    background-color: #cc4141;
}
