html {
    font-size: 14px;
    scroll-behavior: smooth;
}

a {
    color: #666;
}

a:hover {
    color: #cc4141;
}

/* Bootstrap */
:root {
    --bs-body-font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    --bs-breadcrumb-divider: '>';
}
