.top-section {
    padding-bottom: 10px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAANECAIAAAD+CtKcAAAAQUlEQVRIx+3Dxw3AMAwEMO8/r6pVkBmSj+XgCHB190LEb6vqNzPz6Ih4fe99vLuPa2Yjq+rYInJNZr42ESEiTvsAZBWB/XKgdAgAAAAASUVORK5CYII=) repeat-x scroll left bottom #fff;
}

.special {
    color: #fff;
    background: #414141;
    padding: 0.5em 1em;
    z-index: 1;
    text-transform: uppercase;
    font-weight: normal;
}

@media (min-width: 992px) {
    html {
        font-size: 14px;
    }

}