.flex-services {
	width: 110%;
	display: flex;
	flex-wrap: wrap;
}
.service-item {
	width: 48%;
	min-width: 350px;
	margin: 5px;
}
.service-item img { /* HERE */
    width: 115px;
    height: 115px;
    float: left;
    border: 1px solid #eee!important;
    margin: 0 10px 10px 0;
}
.floatServiceImage {
	float: left;
	padding-right: 10px;

}
#SidebarLeft h3.filter-header {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAIAAABGNLJTAAAA20lEQVQoz2N4tXbtBU/Pc05O+BFQDVAlwwVvb4JKoRq8vRkwzXjQ2fli2bJHfX0X/f3RZBnQdH9/8OA/DPz59OlqfDxO1U9mzgQqer1583kXF6Argey3O3bgVP2wuxuoFGLe4ylTgKrf7d+PUzUc3S4t/fvjx7/fv28VFhJQfSUiAqgU6GigHny+hCBgmADdAHQJphQW1ZeCgm5kZGAGH3bV7/bsAZr9aMIEilUTk0gg6LybGwMwkolUDVTJAInkuzU1QG+92bbtP14AUv31+vUn06b9+fLlPyEAAGPzl8uq9w1vAAAAAElFTkSuQmCC') no-repeat left center;
	padding-left: 23px;
	margin: 0 0 5px;
	color: #cc4141;
	font-size: 20px;
}
ul#filters {
	overflow: hidden;
	margin: 0;
	list-style: none;
	padding: 5px 0;
}
ul#filters li {
	display: block;
	padding: 0;
}

ul#filters li a {
	text-decoration: none!important;
	display: block;
	border-bottom: none;
	font-weight: normal;
	padding: 5px 21px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	background-position: left center;
	background-image: none;
	background-repeat: no-repeat;
	outline: none;
}

ul#filters li a:hover {
	color: #333;
	text-decoration: none!important;
	border: none;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAu0lEQVQY003QsQ4BQRDG8SVRKg4RpYJGQiFRENXVKNQiuuMFFEouoVSISC50EkJEpfUGHke7/iOzyRa/y8zttze3a6y1RnzCsIIlbmqLjlt3oTESdFFEDk2sEf+DFFUNBbop7b6ifYy+FBu0vIUSHgi1lwl3oy+zaGCCEa74YqDhxAUzGOohznjBYqHBnTz2qHmjA7wx116mPaVoy+m8YAF1r58ics1Klb1AHjMckfKvoYcLTjjov0fuun6Cz8+hlcnrKAAAAABJRU5ErkJggg==);
	background-color: #eee;
	background-position: 5px center;
}
ul#filters li a.selected {
	color: #cc4141;
	background-position: 5px center;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAu0lEQVQY003QsQ4BQRDG8SVRKg4RpYJGQiFRENXVKNQiuuMFFEouoVSISC50EkJEpfUGHke7/iOzyRa/y8zttze3a6y1RnzCsIIlbmqLjlt3oTESdFFEDk2sEf+DFFUNBbop7b6ifYy+FBu0vIUSHgi1lwl3oy+zaGCCEa74YqDhxAUzGOohznjBYqHBnTz2qHmjA7wx116mPaVoy+m8YAF1r58ics1Klb1AHjMckfKvoYcLTjjov0fuun6Cz8+hlcnrKAAAAABJRU5ErkJggg==);
}
#SidebarLeft {
	margin-bottom: 2.5rem;
}
#isotope div.item>a>img {
    width: 115px;
    height: 115px;
    float: left;
    border: 1px solid #eee!important;
    margin: 0 10px 10px 0;
}
#isotope div.item>a {
    font-weight: normal;
    display: block;
    padding: 10px;
    border: 0;
    color: #333;
}
.event-item .ourHolder-text {
	padding-bottom: 20px;
}
.event-item .ourHolder-text .key_technology_title,.event-item .ourHolder-text .key_type_title,.event-item .ourHolder-text .key_presenter_title,.event-item .ourHolder-text .key_video_title {
	font-weight: bold;
	padding-right: 5px;
}
.event-item .ourHolder-text .key_datetime {
	text-transform: uppercase;
	display: block;
	margin-bottom: 10px;
}
.event-item .ourHolder-text .key_type,.event-item .ourHolder-text .key_technology,.event-item .ourHolder-text .key_presenter,.event-item .ourHolder-text .key_video {
	display: inline;
}
.event-item .ourHolder-text .key-description {
	padding: 10px 0;
	display: block;
}
.event-item .ourHolder-text a h3 {
	margin: 0 0 10px 0;
	font-size: 1.6rem;
}
.event-item .ourHolder-text a h3 span {
	color: #cc4141;
	line-height: 1.4;
}
.event-item .ourHolder-text a h3 span:hover {
	border-bottom: 1px dotted #cc4141;
}
#isotope.clients .item .ourHolder-text {
	width: 100%;
	max-width: 100%;
}
#isotope div.item.isotope-header h2 {
    margin: 10px 0 0;
}
h2 {
    color: #cc4141;
}
h2, .h2 {
    font-size: 1.8rem;
}
#isotope div.item h3 {
    color: #cc4141;
    padding-bottom: 5px;
    font-size: 1.4rem;
    margin: 0;
}
#isotope div.item>a .ourHolder-text p {
    margin: 0;
	height: 85px;
}
#SidebarLeft #isotope .item dt img {
	background: none repeat scroll 0 0 #f5f5f5;
	border: 1px solid #ccc;
}
#SidebarLeft #isotope .item dt img {
	background: none repeat scroll 0 0 #f5f5f5;
	border: 1px solid #ccc;
}
.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
#isotope div.item:hover {
	background: #f5f5f5;
}
#isotope div.item.isotope-header {
	width: 100%;
	border-top: 1px solid #f5f5f5;
	margin-top: 1rem;
	padding-top: .5rem;
}
#isotope div.item.isotope-header h2 {
	margin: 10px 0 0;
}
#isotope div.item.isotope-header:hover {
	background: #fff;
}
#isotope div.item h3 {
	color: #cc4141;
	padding-bottom: 5px;
	font-size: 1.4rem;
	margin: 0;
}
#isotope div.item>a {
	font-weight: normal;
	display: block;
	padding: 10px;
	border: 0;
	color: #333;
}
#isotope div.item>a:hover {
	background: #f5f5f5;
	border: 0;
}
#isotope div.item>a .ourHolder-text p {
	margin: 0;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: 'Open Sans',sans-serif;
	font-weight: 300;
	line-height: inherit;
}
a:hover,a:focus {
	color: #cc4141;
	text-decoration: none;
}
a {
	color: #666;
	text-decoration: none;
}