h6,
.h6 {
    font-size: .75rem;
    color: #fff;
    background: #414141;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px 6px;
    margin: 10px 0 5px;
    clear: both;
    line-height: 17px;
    display: inline-block;
}

.accordion-button {
    background-image: url('../../../assets/images/svg-sprite-sheet.svg');
    color: #fff;
    font-size: .9rem;
    line-height: 34px;
    background-repeat: no-repeat;
    padding: 0 16px;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    display: block;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    background-color: #9e9e9e;
    background-position: right -182px;
}

.accordion-flush .accordion-item {
    border: 0;
}

.accordion-item {
    background: transparent;
    margin-bottom: -16px;
}

.accordion-body {
    padding: 2rem 1.25rem;
}

.accordion-button:hover {
    background-color: #666;
    background-position: right -209px
}

.accordion-collapse .collapse {
    background-image: url('/ssw/include/pigeon/img/svg-sprite-sheet.svg');
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    padding: -15px;
}

.collapsing {
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.accordion-button:not(.collapsed),
.state-sydney h6 .accordion-button:not(.collapsed) {
    background-color: #cc4141;
    color: #fff;
}

#location {
    position: relative;
    max-height: 360px;
}

.locationAccordian {
    position: static;
    margin-top: -20px;
}

.accordion-button:focus {
    border-color: #cc4141;
}

.office {
    color: #fff;
    font-size: .6rem;
    font-weight: bold;
    line-height: 2em;
    margin-left: 9px;
    padding: 0 6px;
    text-transform: uppercase;
    vertical-align: middle;
    display: inline-block
}

.office.open {
    background: none repeat scroll 0 0 #8dc63f
}

.office.closed {
    background: none repeat scroll 0 0 #cc4141
}

#location h6 {
    z-index: 10;
    position: absolute;
    font-size: .7rem;
    margin: 0;
}

.state-sydney {
    display: block;
    width: 80px;
    position: absolute;
    top: 68% !important;
    left: 90% !important;
    transition: 2s;
    cursor: pointer;
}

.state-brisbane {
    display: block;
    width: 80px;
    position: absolute;
    top: 45%;
    left: 89%;
    transition: 2s;
    cursor: pointer;
}

.state-melbourne {
    display: block;
    width: 80px;
    position: absolute;
    top: 78%;
    left: 84%;
    transition: 2s;
    cursor: pointer;
}

#mapWrap {
    max-height: 350px;
   
    background-image: url('../../../assets/images/raven/map-bg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#map-image {
    width: 100%;
}

#locationMap {
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative
}

.select-vic {
    background-image: url("../../../assets/images/raven/map-vic.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
   
}

.select-qld {
    background-image: url("../../../assets/images/raven/map-qld.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.select-nsw {
    background-image: url("../../../assets/images/raven/map-nsw.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.active-accordion-nsw,
.active-accordion-qld,
.active-accordion-vic,
.active-accordion-newcastle {
    background-color: #cc4141;
}

.accordion-button:focus {
    box-shadow: none;
}
@media (max-width: 575.99px) {
    #mapDisappear{
        display: none !important;
    }
    .map-marker{
        display: none !important;
    }
}