.container {
    padding: 50px 0;
    background-color: #f5f5f5;
}

.image {
    margin-right: 10px;
}

.link {
    color: #333;
    font-size: 1.25em;
    letter-spacing: 2px;
    border-bottom: none;
    text-transform: capitalize;
    font-family: 'Segoe UI', SegoeUI, 'Segoe WP', Tahoma, Arial, sans-serif;
    cursor: pointer;
}

.link:hover {
    color: #0078d7;
}
