


/*
  .container {
    overflow: hidden;

    background-attachment: fixed;
     background-image: url('../../../../assets/images/consulting/mvc-benefits-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 4px solid #cc4141;
    border-bottom: 4px solid #cc4141;
    text-align: center;

}

*/