.container {
    overflow: hidden;
    background-attachment: fixed;
    background-image: url('../../../../images/consulting/mvc-benefits-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    border-top: 4px solid #cc4141;
    border-bottom: 4px solid #cc4141;
    text-align: center;
}

.title {
    margin-top: 100px;
    margin-bottom: 50px;
}

.videoContainer {
    width: 750px;
    height: 386px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2rem auto;
    text-align: center;
}

.benefit {
    padding: 45px 55px;
}

.link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #9e9e9e;
}
