.container {
    font-size: 0.8rem;
    background-color: var(--black);
    color: #ccc;
}

.container hr {
    margin: 0;
}

.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
}

.divider {
    margin: 0 10px;
}

.deployment {
    padding: 7px 0;
    border-top: solid #414141 1px;
}

.healthCheck {
    width: 25px;
    height: 9px;
    position: relative;
    top: 4px;
}

.link {
    color: #eee;
    font-size: 0.7rem;
    border-bottom: 1px dotted #ccc;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
}

.buildLink {
    font-size: 0.8rem;
}
