.footer-link {
    display: inline-block;
    line-height: initial;
  }
  
 html {
   position: relative;
   min-height: 100%;
 }
 
 .footer {
   width: 100%;
   background-color: #222;
   color: #ccc;
 }
 
 .footer p {
   margin: 20px 0;
 }