#whatwedo .col-xs-1,
#whatwedo .col-sm-1,
#whatwedo .col-md-1,
#whatwedo .col-lg-1,
#whatwedo .col-xs-2,
#whatwedo .col-sm-2,
#whatwedo .col-md-2,
#whatwedo .col-lg-2,
#whatwedo .col-xs-3,
#whatwedo .col-sm-3,
#whatwedo .col-md-3,
#whatwedo .col-lg-3,
#whatwedo .col-xs-4,
#whatwedo .col-sm-4,
#whatwedo .col-md-4,
#whatwedo .col-lg-4,
#whatwedo .col-xs-5,
#whatwedo .col-sm-5,
#whatwedo .col-md-5,
#whatwedo .col-lg-5,
#whatwedo .col-xs-6,
#whatwedo .col-sm-6,
#whatwedo .col-md-6,
#whatwedo .col-lg-6,
#whatwedo .col-xs-7,
#whatwedo .col-sm-7,
#whatwedo .col-md-7,
#whatwedo .col-lg-7,
#whatwedo .col-xs-8,
#whatwedo .col-sm-8,
#whatwedo .col-md-8,
#whatwedo .col-lg-8,
#whatwedo .col-xs-9,
#whatwedo .col-sm-9,
#whatwedo .col-md-9,
#whatwedo .col-lg-9,
#whatwedo .col-xs-10,
#whatwedo .col-sm-10,
#whatwedo .col-md-10,
#whatwedo .col-lg-10,
#whatwedo .col-xs-11,
#whatwedo .col-sm-11,
#whatwedo .col-md-11,
#whatwedo .col-lg-11,
#whatwedo .col-xs-12,
#whatwedo .col-sm-12,
#whatwedo .col-md-12,
#whatwedo .col-lg-12 {
    padding-left: 3px;
    padding-right: 3px;
}

#whatwedo .row {
    margin-left: -3px;
    margin-right: -3px;
}

#whatwedo h2.special.special {
    color: #fff;
    background: #414141;
    padding: 0.5em 1em;
    z-index: 1;
    text-transform: uppercase;
    font-weight: normal;
}

#whatwedo h2.special {
    line-height: inherit;
    font-size: 0.75rem;
    color: #fff;
    background: #414141;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px 6px;
    margin: 10px 0 5px;
    clear: both;
    line-height: 17px;
    display: inline-block;
    position: absolute;
    margin-top: -8px;
}

#whatwedo {
    margin-top: 7px;
}

#whatwedo a {
    background-image: url('../../../assets/images/svg-sprite-sheet.svg');
    background-repeat: no-repeat;
    background-color: none;
    border: medium none;
    color: #fff;
    display: block;
    font-weight: normal;
    padding: 5px 90px 10px 25px;
    margin-bottom: 6px;
}

#whatwedo a h2 {
    font-size: 2rem;
    height: 2em;
    line-height: 2rem;
}

#whatwedo .do-angular a {
    background-color: #cc4141;
    background-position: right -1459px;
}

#whatwedo .do-angular a:hover {
    background-color: #d76969;
}

#whatwedo .do-cloud a {
    background-color: #9e9e9e;
    background-position: right -2186px;
}

#whatwedo .do-cloud a:hover {
    background-color: #b8b8b8;
}

#whatwedo .do-mobile a {
    background-color: #666;
    background-position: right -1822px;
}

#whatwedo .do-mobile a:hover {
    background-color: #808080;
}

#whatwedo .do-rules a {
    background-color: #414141;
    background-position: right -1093px;
}

#whatwedo .do-rules a:hover {
    background-color: #5a5a5a;
}

@media (min-width: 992px) {
    #whatwedo .do-rules a {
        background-position: right -1103px;
    }
    #whatwedo .do-cloud a {
        background-position: right -2196px;
    }
    #whatwedo .do-mobile a {
        background-position: right -1832px;
    }
    #whatwedo .do-angular a {
        background-position: right -1469px;
    }
    #whatwedo a {
        padding: 50px 25px 25px;
        min-height: 271px;
    }
    #whatwedo a p {
        height: 6rem;
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    #whatwedo a {
        padding: 75px 25px 25px;
        margin-bottom: 0;
        min-height: 271px;
    }
    #whatwedo a h2 {
        font-size: 1.9rem;
    }
    #whatwedo .do-rules a {
        background-position: right -1093px;
    }
    #whatwedo .do-cloud a {
        background-position: right -2186px;
    }
    #whatwedo .do-mobile a {
        background-position: right -1822px;
    }
    #whatwedo .do-angular a {
        background-position: right -1459px;
    }
}