.headerContent {
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 1s ease, transform 1s ease;
  }
  .headerContent.tn.visibleHeader {
    opacity: 1;
    transform: translateY(0);
  }
.container {
    overflow: hidden;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.75)
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
}

.title {
    margin-top: 4em;
}

.subTitle {
    margin-top: 20px;
}

.contact {
    margin-top: 40px;
}

.arrowScroll {
    padding: 5em 0 0;
}

.arrowScroll a {
    text-decoration: none;
    cursor: default;
    font-size: 3em;
    color: #fff;
}

.arrowScroll a:hover {
    color: #9e9e9e;
}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
}

.faChevronDown:before {
    content: 'ÔÅ∏';
}

.bounce {
    animation: bounce 2s infinite;
}

h5 {
    font-weight: 300;
}

.videoImage:hover {
    filter: brightness(75%);
    cursor: pointer;
    transition: 0.4s all;
}

.play {
    height: 72px;
    width: 72px;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(../../../../assets/images/consulting/play.png) no-repeat;
    cursor: pointer;
}

.videoText {
    font-size: 1.2rem;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    width: 75%;
    margin: 0 auto;
    padding: 20px 0;
    line-height: inherit;
}

.videoContainer {
    position: relative;
    /* embedded video height */
    width: 750px;
    /* height: 386px; */
    height: 450px;
    padding-top: 5em;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2rem auto;
    text-align: center;
}

.firstLine {
    padding-top: 3em;
}

.theList {
    margin-top: 0;
    padding-bottom: 2em;
}

.lastItem {
    margin-top: 0;
}

.stuckButton {
    margin-top: -50px;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
