name: Setup Azure Resources

on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string
    secrets:
      AZURE_RESOURCE_GROUP:
        required: true
      AZURE_CREDENTIALS:
        required: true
      AZURE_APP_NAME:
        required: true
      AZURE_TENANT:
        required: true
        
jobs:
  build:
    runs-on: ubuntu-latest
    environment: ${{ inputs.ENVIRONMENT }}
    steps:      
    - uses: actions/checkout@v2
    
    # Log into Azure
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    # Create Azure Deployment
    - name: Create Deployment Group
      uses: azure/arm-deploy@v1
      id: depAz
      with:
        resourceGroupName: ${{ secrets.AZURE_RESOURCE_GROUP }}
        template: ./.azure/ssw-website.bicep
        parameters: appName=${{ secrets.AZURE_APP_NAME }} tenantId=${{ secrets.AZURE_TENANT }}

    - name: Enable Static Website
      uses: azure/CLI@v1
      with:
        inlineScript: |
          az storage blob service-properties update --account-name ${{ steps.depAz.outputs.storageAccountName }} --static-website --index-document index.html --404-document 404.html
    
    # Log out of Azure
    - name: logout
      run: |
            az logout
      if: always()
