/* TODO: How this works? */
.video {
    position: fixed;
    top: 13%;
    object-fit: cover;
    min-width: 100%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%); 
    transition: 1s opacity;
}
